.empty-content{
  width: 100%;
  padding: 20px 0;
  text-align: center;
  .iconfont{
    font-size: 80px;
    color: #929292;
  }
  .text {
    font-size: 14px;
    color: #929292;
    margin-top: 6px;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

/* 主轴对齐方式 */
.dir--left {
  flex-direction: row;
}
.dir--right {
  flex-direction: row-reverse;
}
.dir--top {
  flex-direction: column;
}
.dir--bottom {
  flex-direction: column-reverse;
}

/* 主轴排列方式 */
.main--start {
  justify-content: flex-start;
}
.main--end {
  justify-content: flex-end;
}
.main--between {
  justify-content: space-between;
}
.main--center {
  justify-content: center;
}
.main--around {
  justify-content: space-around;
}

/* 换行设置 */
.wrap--nowrap {
  flex-wrap: nowrap;
}
.wrap--wrap {
  flex-wrap: wrap;
}
.wrap--reverse {
  flex-wrap: wrap-reverse;
}


/* 交叉轴排列方式 */
.cross--start {
  align-items: flex-start;
}
.cross--end {
  align-items: flex-end;
}
.cross--center {
  align-items: center;
}
.cross--baseline {
  align-items: baseline;
}
.cross--stretch {
  align-items: stretch;
}


@divider-width: 1px;
@divider-color: #ebebeb;
@theme-color:#2388ff;

.whole-page{
  height: 100%;
  width: 100%;
}

.text-title{
  color:#000000;
  font-size: 16px;
}
.text-primary{
  color:#000000;
  font-size: 14px;
}
.text-secondary{
  color:#999;
  font-size: 12px;
}
.text-highlight{
  color:#ff6817;
  font-size: 12px;
}
.text-auxiliary{
  color:#c8cacc;
  font-size: 12px;
}

.margin-vertical {
  margin-top: 10px;
}

.margin-vertical-small {
  margin-top: 5px;
}

.margin-horizontal {
  margin-right: 15px;
  margin-left: 15px;
}


.margin-horizontal-small {
  margin-right: 5px;
  margin-left: 5px;
}

.padding-horizontal {
  padding-right: 15px;
  padding-left: 15px;
}
.padding-vertical {
  padding-top: 15px;
  padding-bottom: 15px;
}

.content{
  &:extend(.padding-horizontal);
  background: #ffffff;
  font-size: 14px;

}

.divider-horizontal {
  height: @divider-width;
  color: @divider-color;
  background: @divider-color;;
}

.center-vertical-forchild{
  display: flex;
  align-items: center;
}
.center-horizontal-forchild{
  display: flex;
  justify-content:center;
}
.center-forchild{
  display: flex;
  justify-content:center;
  align-items: center;
}

.list_body{
  &:extend(.content,.flex,.dir--left);
  min-height: 90rpx;
  height: 90rpx;
}

.btn-common{
  flex-grow: 1;
  border-radius: 20px;
  height: 40px;
  width: 100%;
  text-align: center;
  margin: 15px;
}

.btn-positive{
  &:extend(.btn-common);
  background-color: dodgerblue;
  color: white;
}
.btn-nagative{
  &:extend(.btn-common);
  background-color: white;
  color: dodgerblue;
  border: solid gray;
  border-width: 1px;
}
